<?xml version="1.0" encoding="UTF-8"?>
<plugin id="<%= id %>" version="0.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name><%= name %></name>
  <description><%= description %></description>

  <engines>
    <engine name="cordova" version=">=3" />
  </engines>

  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml" />
<% android.sourceFiles.forEach(function(sourceFile) { -%>
    <source-file src="<%= sourceFile.src %>" target-dir="<%= sourceFile.target %>" />
<% }); -%>
  </platform>

  <platform name="ios">
    <config-file parent="/*" target="config.xml">
    </config-file>
<% ios.headerFiles.forEach(function(headerFile) { -%>
    <header-file src="<%= headerFile.src %>" />
<% }); -%>
<% ios.sourceFiles.forEach(function(sourceFile) { -%>
    <source-file src="<%= sourceFile.src %>" target-dir="<%= sourceFile.target %>" />
<% }); -%>
  </platform>
</plugin>
